[submodule "forklift_arduino_unity_sim"]
	path = forklift_arduino_unity_sim
	url = https://github.com/NirajArts/Forklift_Arduino_Unity_Sim
[submodule "mmm-fingers"]
	path = mmm-fingers
	url = https://github.com/NirajArts/mmm-fingers.git
[submodule "Helix-Jump"]
	path = Helix-Jump
	url = https://github.com/NirajArts/HelixJump.git
[submodule "temporal-odessey-game"]
	path = temporal-odessey-game
	url = https://github.com/NirajArts/Temporal-Odyssey_WebBuild.git
